main{
    div{
        div{
            div{
                .h1A{
                    @include condicional ($fondoTrasnparente);
                }
                div{
                    form{
                        display: flex;
                        width: 350px;
                        background: rgba(255, 255, 255, 0.719);
                        padding: 20px;
                        border-radius: 4px;
                        margin: 20px;   
                        text-align: center;
                        justify-content: center;
                        fieldset{
                            border-radius: 4px;
                            border: solid 3px #999;
                            div{
                                .field{
                                    border: solid 1px black;
                                    padding: 10px;
                                    width: 210px;
                                    border-radius: 4px;
                                }
                                .fieldMoneda{
                                   border: solid 1px black;
                                   padding: 10px;
                                   width: 70px;
                                   font-size: 12px;
                                }
                                .boton{
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    width:  250px;
                                    height: 40px;
                                    margin: 10px;
                                    background: $dorado;
                                    color: white;
                                    font-size: 20px;
                                    font-weight: 500;
                                    border: none;
                                    cursor: pointer;
                                    text-transform: uppercase;
                                    transition: .3s ease all;
                                    border-radius: 5px;
                                    position: relative;
                                    overflow: hidden;
                                    &:hover{
                                        background: $doradoclaro;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    div{
        div{
            div{
                .containerForm{
                    display: flex;
                    margin-left: 250px;
                    margin-right:300px;  
                    text-align: center;
                    justify-content:space-between;
                    align-items: center;
                }
            }
        }
    }
    .seccionSeis{
        background-image: url(../img/envio-de-dinero-empresas.png);
        width: 100%;
        height: 500px;
        background-size: cover;
        padding: 20px;

        H1{
            font-size: 60px;
            text-align: center;
            color: white;
            letter-spacing: 2px;
            border-radius: 3px #fff;
            border-radius: 25px;
          }
    }
    div{
        .containerForm{
            display: flex;
            text-align: center;
            justify-content:space-between;
            align-items: center;
        }
        div{
            div{
                .formC{
                    display: flex;
                    width: 350px;
                    background: rgba(255, 255, 255, 0.719);
                    padding: 20px;
                    border-radius: 4px;
                    margin: 20px;   
                    text-align: center;
                    justify-content: center;
                    fieldset{
                        div{
                            input{
                                width: 300px;
                            }
                            textarea{
                                width: 300px;
                            }
                        }
                    }
                }
                form{
                    justify-content: left;
                    .fieldset{
                        .fieldC{
                            text-align: left;
                            width: 700px;
                          }
                          inputFc{
                            display: flex;
                            width: 500px;
                          }
                      }
                }
            }
        }
    }
    div{
        div{
            div{
                h1{
                    margin: 20px;
                }
            }
        }
    }
    div{
        div{
            .boton{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width:  250px;
                height: 40px;
                margin: 10px;
                background: $dorado;
                color: white;
                font-size: 20px;
                font-weight: 500;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                transition: .3s ease all;
                border-radius: 5px;
                position: relative;
                overflow: hidden; 
                &:hover{
                    background: $doradoclaro;
                }   
            }
            
            div{
                .bg-white{
                    background-color: white;
                }
                .seccionNueve{
                    text-transform: capitalize;
                  }
                h3{
                    font-size: 0.9rem;
                    .gray{
                        color: rgb(194, 192, 192);
                    }
                a{
                    text-decoration: none;
                }   
                
                } 
            }
        }
    }
    div{
        div{
            div{
                .seccionTres{
                    line-height: 1.6em;
                }
                .bg-gray{
                    background-color: #f9f9f9;
                }
            }
        }
    }
    div{
        div{
            .seccionCuatro{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
            }
        }
    }
    div{
        div{
            .seccionDiez{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
            }
        }
    }
    div{
        div{
            div{
                .ilustracionE{
                    margin-left: 120px;
                  }
                .listE{
                    line-height: 1.8em;
                    padding-top: 60px   ;
                  }
                
            }
        }
        div{
            .seccionNueve{
                background-color: #d1c5b7;
            }
        }
    }
    .seccionOcho{
        background-image: url(../img/moneyontime-empresas.png);
        width: 100%;
        height: 700px;
        background-size: cover;
        padding: 20px;
    }
    div{
        .seccionQuince{
            width: 100%;
            height: 100%;
            background-image: url(../img/contactanos-moneyontime.png);
            background-size: cover;
            padding: 20px;
          }
          .seccionQuince{
            width: 100%;
            height: 680px;
          }
          .seccionQuince{
            .seccionDieciseis{
                display: flex;
                justify-content: space-between;
    
            }
          }
    }
    div{
        .seccionOnce{
            justify-content: center;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
              }
              .imgAyuda{
                border-radius: 10px;
              }
          }
        .seccionDoce{
            justify-content: center;
          }  
    }
    div{
        .seccionTrece{
            justify-content: center;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
              }
              .imgAyuda{
                border-radius: 10px;
              }
          }
        .seccionCatorce{
            justify-content: center;
          }  
    }
    div{
        .seccionQuince{
            justify-content: center;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
              }
              .imgAyuda{
                border-radius: 10px;
              }
          }
    }

}

@media(min-width: 994px){
    main{
        div{
            .seccionUno{
            background-image: url(../img/envia-dinero.png);
            background-size: cover;
            padding: 40px;
            }
        }
        div{
            .seccionUno{
            width: 100%;
            height: 100%;
            background-image: url(../img/envia-dinero.png);
            background-size: cover;
            padding: 20px;
        }
         .seccionUno{
           width: 100%;
           height: 600px;
        }        
         div{
           .seccionUnoA{
               display: flex;
               justify-content: space-between;
   
            }
        }
     }
       div{
           div{
               div{
                   .list1{
                       margin-left: 0px;
                     }   
               }
           }
       }
       div{
           div{
               div{
                   .ilustracionE{
                       margin-left: 0;
                     }
               }
           }
       }
       div{
           .containerForm{
               align-items: center;
               justify-content: center;
               width: 1150px;
               .containerS{
                   width: 575px;
               }
           }
       }
       div{
           div{
            .seccionDos{
                display: block;
                justify-content: center;
            }
           }
       }
       div{
           .hE2{
               margin-top: 30px;
               margin-left: 800px;
               width: 450px;
               height: 170px;
               background: rgba(255, 255, 255, 0.719);
               border-radius: 4px;
               text-align: center;
               justify-content: space-between;
           }
           div{
               
               .hE{
                   margin-top: 270px;
                   width: 450px;
                   height: 170px;
                   background: rgba(255, 255, 255, 0.719);
                   border-radius: 4px;
                   text-align: center;
                   justify-content: center;
               }
               
           }
           }
           div{
               .containerForm{
                   align-items: center;
                   justify-content: center;
                   width: auto;
                   .containerS{
                       width: auto;
                   }
               }
           }
   }
}
@media(max-width: 858px){
    main{
        .seccionUno{
            width: auto;
            height: 100%;
            background-image: url(../img/moneyontime-banner.png);
            background-size: cover;
            padding: 20px;
            align-items: center;
            justify-content: center;
          }
          .seccionUno{
            width: auto;
            height: 700px;
            align-items: center;
            justify-content: center;
          } 
            div{
                .formSection1{
                    margin-left:65px;
                }
            }  
            div{
                div{
                    div{
                        .h1A{
                            margin-left: auto;
                            width: 450px;
                            height: 100px;
                            background: rgba(255, 255, 255, 0.719);
                            border-radius: 4px;
                            text-align: center;
                            justify-content: center;      
                        }
                        div{
                            form{
                                display: flex;
                                width: 350px;
                                background: rgba(255, 255, 255, 0.719);
                                padding: 20px;
                                border-radius: 4px;
                                margin: 20px;   
                                text-align: center;
                                justify-content: center;
                                fieldset{
                                    border-radius: 4px;
                                    border: solid 3px #999;
                                    div{
                                        .field{
                                            border: solid 1px black;
                                            padding: 10px;
                                            width: 210px;
                                            border-radius: 4px;
                                        }
                                        .fieldMoneda{
                                           border: solid 1px black;
                                           padding: 10px;
                                           width: 70px;
                                           font-size: 12px;
                                        }
                                        .boton{
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: center;
                                            width:  250px;
                                            height: 40px;
                                            margin: 10px;
                                            background: $dorado;
                                            color: white;
                                            font-size: 20px;
                                            font-weight: 500;
                                            border: none;
                                            cursor: pointer;
                                            text-transform: uppercase;
                                            transition: .3s ease all;
                                            border-radius: 5px;
                                            position: relative;
                                            overflow: hidden;
                                            &:hover{
                                                background: $doradoclaro;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div{
                div{
                    .seccionUnoA{
                        display: block;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                    }
                    div{
                        .h1A{
                            display: block;
                            align-items: center;
                            justify-content: center;
                            width: auto;
                        }
                    }
                }
            }
        div{
            .seccionDos{
                display: block;
                align-items: center;
                justify-content: center;
                width: auto;

            }
        }
        div{
            div{
                .seccionCuatro{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                }
                div{
                    .seccionCuatro1{
                        display: block;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                    }

                }
            }
        }
        .seccionSeis{
            width: auto;
            height: 100%;
            background-image: url(../img/envio-de-dinero-empresas.png);
            background-size: cover;
            padding: 20px;
            align-items: center;
            justify-content: center;
          }
        .seccionOcho{
            width: auto;
            height: 300px;
            background-image: url(../img/moneyontime-empresas.png);
            background-size: cover;
            padding: 20px;
            align-items: center;
            justify-content: center;
        }
        div{
            div{
                .hE{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                }
            }
        }
        div{
            div{
                .seccionDiez{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: auto;

                }
                div{
                    .seccionDiez1{
                        display: block;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                    }
                }
            }
        }
        div{
            div{
                div{
                    .imgAyuda{
                        width: 300px;
                    }
                }
            }
        }
        div{
            div{
                .containerForm{
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    .containerS{
                        width: auto;
                    }
                }

            }
        }
        div{
            display: block;
            .seccionQuince{
                width: auto;
                height: 100%;
                background-image: url(../img/contactanos-moneyontime-m.png);
                background-size: cover;
                padding: 20px;
                align-items: center;
                justify-content: center;
                display: block;
              }
              div{
                  .seccionDieciseis{
                    width: auto;
                    height: 100%;
                    background-size: cover;
                    padding: 20px;
                    align-items: center;
                    justify-content: center;
                    display: block;
                    margin-left:65px;
                  }
                  .h1AC{
                      display: none;
                  }
                  .formC{
                      width: auto;
                      height: auto;
                  }
              }

        }
        
    }
}
.seccionTres{
    @include condicional ($seccionColor)
}
main{
    div{
        div{
            .boton{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width:  250px;
                height: 40px;
                margin: 10px;
                background: $dorado;
                color: white;
                font-size: 20px;
                font-weight: 500;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                transition: .3s ease all;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                &:hover{
                    background: $doradoclaro;
                }   
            }
            .botonR{
                @extend.boton;
                background: $seccionColor;
                width:  200px;
            }
        }
    }
}
