//index
main{
    div{
        div{
            div{
                .h1A{
                    @include condicional ($fondoTrasnparente);
                }
                form{
                    display: flex;
                    width: 350px;
                    background: rgba(255, 255, 255, 0.719);
                    padding: 20px;
                    border-radius: 4px;   
                    text-align: center;
                    justify-content: center;
                    color: black;               
                    fieldset{
                        line-height: 2.5em;
                        border-radius: 4px;
                        border: solid 3px #999;
                        div{
                            line-height: 1.6em;
                            .field{
                                border: solid 1px black;
                                padding: 10px;
                                width: 210px;
                                border-radius: 4px;
                            }
                            .fieldMoneda{
                               border: solid 1px black;
                               padding: 10px;
                               width: 70px;
                               font-size: 12px;
                            }
                            .boton{
                                @include botones;
                            }
                        }
                    }
                }
            }
        }
    }
    div{
        div{
            .seccionTres{
                line-height: 1.6em;
                background-color: #786d67;
                color: white
            }
        }
    }
    div{
        div{
            .seccionCuatro{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
            }
        }
    }
}
//Empresas
main{
    .seccionSeis{
        background-image: url(../img/envio-de-dinero-empresas.png);
        width: 100%;
        height: 500px;
        background-size: cover;
        padding: 20px;

        H1{
            font-size: 60px;
            text-align: center;
            color: white;
            letter-spacing: 2px;
            border-radius: 3px #fff;
            border-radius: 25px;
          }
    }
    .seccionOcho{
        background-image: url(../img/moneyontime-empresas.png);
        width: 100%;
        height: 700px;
        background-size: cover;
        padding: 20px;
    }
    div{
        div{
            div{
                .ilustracionE{
                    margin-left: 120px;
                  }
                .listE{
                    line-height: 1.8em;
                    padding-top: 60px   ;
                  }
                
            }
        }
        div{
            .seccionNueve{
                background-color: #d1c5b7;
            }
        }
    }
    div{
        div{
            .seccionDiez{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
            }
        }
    }
}
//nosotros
main{
    div{
        .seccionOnce{
            justify-content: center;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
              }
              
          }
        .seccionDoce{
            justify-content: center;
          }  
    }
}
//preguntas
main{
    div{
        .seccionTrece{
            justify-content: center;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
              }
              .imgAyuda{
                border-radius: 10px;
              }
          }
        .seccionCatorce{
            justify-content: center;
          }  
    }
}
//Contactanos
main{
    div{
        div{
            div{
                .containerForm{
                    display: flex;
                    margin-left: 250px;
                    margin-right:300px;  
                    text-align: center;
                    justify-content:space-between;
                    align-items: center;
                }
            }
        }
    }
    div{
        .containerForm{
            display: flex;
            text-align: center;
            justify-content:space-between;
            align-items: center;
        }
        div{
            .formC{
                display: flex;
                width: 350px;
                height: 520px;
                background: rgba(255, 255, 255, 0.719);
                padding: 20px;
                border-radius: 4px;
                margin: 20px;   
                text-align: center;
                justify-content: center;
                fieldset{
                    div{
                        input{
                            width: 300px;
                        }
                        textarea{
                            width: 300px;
                        }
                    }
                }
            }
            form{
                justify-content: left;
                .fieldset{
                    .fieldC{
                        text-align: left;
                        width: 700px;
                      }
                      inputFc{
                        display: flex;
                        width: 500px;
                      }
                  }
            }
        }
    }
    div{
        div{
            div{
                h1{
                    margin: 20px;
                }
            }
        }
    }
    div{
        div{
            .boton{
                @include botones;
            }
            
            div{
                .bg-white{
                    background-color: white;
                }
                .seccionNueve{
                    text-transform: capitalize;
                  }
                h3{
                    font-size: 0.9rem;
                    .gray{
                        color: rgb(194, 192, 192);
                    }
                a{
                    text-decoration: none;
                }   
                } 
            }
        }
    }
}
@media(min-width: 994px){
    //index
    main{
        div{
            .seccionUno{
            background-image: url(../img/envia-dinero.png);
            background-size: cover;
            padding: 40px;
            }
        }
        div{
            .seccionUno{
            width: 100%;
            height: 100%;
            background-image: url(../img/envia-dinero.png);
            background-size: cover;
            padding: 20px;
        }
         .seccionUno{
           width: 100%;
           height: 600px;
        }        
         div{
           .seccionUnoA{
               display: flex;
               justify-content: space-between;
   
            }
        }
     }
     div{
        div{
         .seccionDos{
             display: block;
             justify-content: center;
         }
        }
    }
     div{
        div{
            div{
                .list1{
                    margin-left: 0px;
                  }   
            }
        }
    }
    div{
        div{
            div{
                .ilustracionE{
                    margin-left: 0;
                  }
            }
        }
    }
    }
    //Empresas
    main{
        div{
            .hE2{
                margin-top: 30px;
                margin-left: 800px;
                width: 450px;
                height: 170px;
                background: rgba(255, 255, 255, 0.719);
                border-radius: 4px;
                text-align: center;
                justify-content: space-between;
            }
            div{
                
                .hE{
                    margin-top: 270px;
                    width: 450px;
                    height: 170px;
                    background: rgba(255, 255, 255, 0.719);
                    border-radius: 4px;
                    text-align: center;
                    justify-content: center;
                }
                
            }
            }
    }
    //contactanos
    main{
       div{
           .containerForm{
               align-items: center;
               justify-content: center;
               width: 1150px;
               .containerS{
                   width: 575px;
                   
               }
           }
        }
        div{
            .containerForm{
                align-items: center;
                justify-content: center;
                width: auto;
                .containerS{
                      width: auto;
                }
            }
        }
        div{
            .seccionQuince{
            width: 100%;
            height: 680px;
            background-image: url(../img/contactanos-moneyontime.png);
            background-size: cover;
            padding: 20px;
            display: flex;
            justify-content: right;
            margin-right: 40px;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
                }
                .imgAyuda{
                border-radius: 10px;
                }
            }
        }
   }
}
@media(max-width: 858px){
    main{
        .seccionUno{
            width: 100%;
            height: 750px;
            background-image: url(../img/moneyontime-banner.png);
            background-size: cover;
            padding: 20px;
            align-items: center;
            justify-content: center;
          }
            div{
                div{
                    div{
                        .h1A{
                            margin-left: auto;
                            width: auto;
                            height: 150px;
                            background: rgba(255, 255, 255, 0.719);
                            border-radius: 4px;
                            text-align: center;
                            justify-content: center;      
                        }
                        div{
                            form{
                                display: flex;
                                width: 350px;
                                background: rgba(255, 255, 255, 0.719);
                                padding: 20px;
                                border-radius: 4px;
                                margin: 20px;   
                                text-align: center;
                                justify-content: center;
                                fieldset{
                                    border-radius: 4px;
                                    border: solid 3px #999;
                                    div{
                                        .field{
                                            border: solid 1px black;
                                            padding: 10px;
                                            width: 210px;
                                            border-radius: 4px;
                                        }
                                        .fieldMoneda{
                                           border: solid 1px black;
                                           padding: 10px;
                                           width: 70px;
                                           font-size: 12px;
                                        }
                                        .boton{
                                            @include botones;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div{
                div{
                    .seccionUnoA{
                        display: block;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                    }
                    div{
                        .h1A{
                            display: block;
                            align-items: center;
                            justify-content: center;
                            width: auto;
                        }
                    }
                }
            }
        div{
            .seccionDos{
                display: block;
                align-items: center;
                justify-content: center;
                width: auto;
            }
        }
        div{
            div{
                .seccionCuatro{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: 414px;
                }
                div{
                    .seccionCuatro1{
                        display: block;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                    }

                }
            }
        }
        .seccionSeis{
            width: 100%;
            height: 200px;
            background-image: url(../img/envio-de-dinero-empresas-m.png);
            background-size: cover;
            padding: 20px;
            align-items: center;
            justify-content: center;
          }
        .seccionOcho{
            width: auto;
            height: 300px;
            background-image: url(../img/moneyontime-empresas.png);
            background-size: cover;
            padding: 20px;
            align-items: center;
            justify-content: center;
        }
        div{
            div{
                .hE{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                }
            }
        }
        div{
            div{
                .seccionDiez{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: auto;

                }
                div{
                    .seccionDiez1{
                        display: block;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                    }
                    
                }
                .seccionOnce{
                    div{
                        .imgNosotros{
                            width: 300px;
                            border-radius: 10px;
                            margin-left: -20px;
                        }
                    }
                }
            }
        }
        div{
            div{
                div{
                    .imgAyuda{
                        width: 300px;
                        margin-left: -45px;
                    }
                }
            }
        }
        div{
            div{
                .containerForm{
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    .containerS{
                        width: auto;
                    }
                }

            }
        }
        .seccionQuince{
            width: 100%;
            height: 560px;
            padding: 10px;
            background-image: url(../img/contactanos-moneyontime-m.png);
            background-size: cover;
            display: flex;
            justify-content: center;
            .botonAyuda{
                background-color: $dorado;
                color: white;
                border-radius: 5px;
              }
              .imgAyuda{
                border-radius: 10px;
              }
          }
    }
}
main{
    div{
        div{
            .boton{
                @include botones;
            }
            .botonR{
                @extend.boton;
                background: $seccionColor;
                width:  200px;
            }
        }
    }
}
